.questions {
  position: relative;
  z-index: 5;
  /* .questions__inner */

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 16rem 0 1.8rem;

    @media (max-width: 48em) {
      gap: 6.4rem;
      padding: 8rem 0 1.8rem;
    }
  }

  /* .questions__header-box */

  &__header-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 8.6rem 0 3.2rem;
    @media (max-width: 48em) {
      flex-direction: column;
      padding: 0;
      gap: 2.4rem;
    }
  }

  /* .questions__title-box */

  &__title-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    @media (max-width: 48em) {
    }
  }

  /* .questions__subtitle */

  &__subtitle {
  }

  /* .questions__title */

  &__title {
    width: 61.7rem;
    @media (max-width: 48em) {
      width: 100%;
    }
  }

  /* .questions__header-text */

  &__header-text {
    width: 57.3rem;
    @media (max-width: 48em) {
      width: 100%;
    }
  }

  /* .questions__content-box */

  &__content-box {
    display: flex;
    gap: 26rem;
    padding: 0 0 0 3.2rem;

    @media (max-width: 48em) {
      // position: absolute;
      // z-index: -1;
      // opacity: 0;
      // visibility: hidden;
      // width: 0;
      // overflow: hidden;
      display: none;
    }
  }

  /* .questions__content-info-wrapper */

  &__content-info-wrapper {
    display: grid;
    width: 66.9rem;
  }

  /* .questions__content-info-box */

  &__content-info-box {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, pointer-events 0.5s ease-in-out;
    &.isActive {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  /* .questions__content-info-header-box */

  &__content-info-header-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  /* .questions__content-info-count */

  &__content-info-count {
    color: rgba(255, 255, 255, 0.3);
  }

  /* .questions__content-info-img-box */

  &__content-info-img-box {
    border-radius: 1.2rem;
    width: 42.2rem;
    height: 23.6rem;
    margin-bottom: 3rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* .questions__content-info-text-box */

  &__content-info-text-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* .questions__content-info-subtitle */

  &__content-info-subtitle {
  }

  /* .questions__content-info-text */

  &__content-info-text {
    & span,
    & b {
      font-weight: 700;
    }
  }

  /* .questions__content-tab-wrapper */

  &__content-tab-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex-grow: 1;
    // max-height: 60rem;
    max-height: 63rem;
    overflow-y: auto;
    padding-right: 2rem;

    &::-webkit-scrollbar {
      width: 0.5rem; /* ширина скроллбара */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $white; /* цвет ползунка */
      border-radius: 0.3rem;
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.2); /* цвет трека */
      border-radius: 0.3rem;
    }
  }

  /* .questions__content-tab-box */

  &__content-tab-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 2.2rem 2rem 2rem;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.5s, color 0.5s;
    cursor: pointer;
    &.isActive {
      background: $white;

      & .questions__content-tab-text {
        color: $purple;
      }
      & .questions__content-tab-svg-box {
        transform: rotate(-180deg);
      }

      & .questions__content-tab-svg-box svg path {
        stroke: $purple;
      }
    }
  }

  /* .questions__content-tab-text */

  &__content-tab-text {
    transition: color 0.5s;
  }

  /* .questions__content-tab-svg-box */

  &__content-tab-svg-box {
    width: 2.4rem;
    height: 2.4rem;
    transition: transform 0.5s;
    & svg,
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & svg path {
      stroke: $white;
      transition: stroke 0.5s;
    }
  }

  /* .questions__accordion-box */

  &__accordion-box {
    // position: absolute;
    // z-index: -1;
    // opacity: 0;
    // visibility: hidden;
    display: none;
    @media (max-width: 48em) {
      padding-bottom: 7.4rem;
      // position: static;
      // z-index: 0;
      // opacity: 1;
      // visibility: visible;
      display: block;
    }
  }

  /* .questions__accordion */

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  /* .questions__accordion-item */

  &__accordion-item {
    display: flex;
    flex-direction: column;
  }

  /* .questions__accordion-item-header */

  &__accordion-item-header {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    justify-content: space-between;
    border-radius: 3.2rem;
    padding: 3rem 2.4rem 2.8rem;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.5s, color 0.5s;
    cursor: pointer;

    &.isActive {
      background: $white;

      & .questions__accordion-title {
        color: $purple;
      }
      & .questions__accordion-svg-box {
        transform: rotate(-180deg);
      }

      & .questions__accordion-svg-box svg path {
        stroke: $purple;
      }

      & + .questions__accordion-item-body {
        margin-bottom: 4.8rem;
        margin-top: 4.8rem;
      }
    }
  }

  /* .questions__accordion-title */

  &__accordion-title {
    font-size: 3.6rem;
    transition: color 0.5s;
  }

  /* .questions__accordion-svg-box */

  &__accordion-svg-box {
    transition: transform 0.5s;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    & svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      & path {
        transition: stroke 0.5s;
      }
    }
  }

  /* .questions__accordion-item-body */

  &__accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, margin-bottom 0.5s, margin-top 0.5s;
    width: 100%;
    padding: 0 2.4rem;
  }

  /* .questions__accordion-item-body-inner */

  &__accordion-item-body-inner {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  /* .questions__accordion-item-body-title */

  &__accordion-item-body-title {
    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }

  /* .questions__accordion-item-body-content */

  &__accordion-item-body-content {
    @media (max-width: 48em) {
      font-size: 2.8rem;
    }
  }

  /*  questions__content-info-head */

  &__content-info-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* .questions__form */

  &__form {
    width: 80.3rem;
    flex-shrink: 0;
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(75px);
    background: rgba(255, 255, 255, 0.36);
    border-radius: 4rem;
    padding: 6rem 5rem;


    @include small-tablet {
      padding: 4.8rem;
      border-radius: 4rem;
      width: 100%;
    }
  }

  /* .questions__form-input-wrapper */

  &__form-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    @include small-tablet {
      gap: 4.8rem;
    }
  }

  /* .questions__form-input-box */

  &__form-input-box {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    @include small-tablet {
         display: flex;
    flex-direction: column;
      gap: 4.8rem;
    }

    & .popup__label {
      &:nth-child(1n + 3) {
        grid-column: 1/3;
      }
    }

    /* .questions__form-input */

    &__form-input {
    }
  }

  /* .questions__form-btn-box */

  &__form-btn-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    @include small-tablet {
      gap: 4.8rem;
    }
  }

  /* .questions__form-agreement-text */

  &__form-agreement-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.03em;
    @include small-tablet {
      font-size: 2.4rem;
    }
    & a {
      text-decoration: underline;
    }
  }

  /* .questions__form-btn */

  &__form-btn {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 9.9rem;
    padding: 2rem 2.4rem;
    background: $pink;
    width: fit-content;
    transition: background 0.3s, color 0.3s;

    @include small-tablet {
      gap: 1.6rem;
      width: 100%;
      text-align: center;
      padding: 2.6rem;
      justify-content: center;
    }

    &[disabled='disabled'] {
      background: #e2e2e2 !important;
      color: #b8b8b8;
      cursor: default;
      & .questions__form-btn-svg-box {
        & svg path {
          fill: #b8b8b8;
        }
      }
    }
  }

  /* .questions__form-btn-text */

  &__form-btn-text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 3.2rem;
    }
  }

  /* .questions__form-btn-svg-box */

  &__form-btn-svg-box {
    width: 2.4rem;
    height: 2.4rem;
    @include small-tablet {
      width: 4.8rem;
      height: 4.8rem;
    }
    & svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      & path {
        transition: fill 0.3s;
      }
    }
  }
  & .error-span {
    color: #ff0000;
  }
}
