<section class="advantages" id="advantages">
  <div class="advantages__container container">
    <div class="advantages__inner">
      <div class="advantages__img-wrapper">
        <div class="advantages__bg-box">
          <img src="./assets/images/advantages-logo.svg" alt="" />
        </div>
        <h2 class="advantages__title tl2_2">Преимущества</h2>
        <div class="advantages__img-box">
          <img src="./assets/images/advantages-phone.png" alt="" />
        </div>
      </div>

      <div class="advantages__ribbon ribbon">
        <div class="ribbon__row">
          <div class="ribbon__swiper swiper-ribbon swiper-ribbon swiper-ribbon--advantages swiper">
            <ul class="ribbon__list swiper-wrapper swiper-wrapper">
              <li class="ribbon__list-item swiper-slide">
                <p class="ribbon__text tl3">Более 10 млн сканированных чеков</p>
                <div class="ribbon__svg-box">
                  <img src="./assets/images/ribon.svg" alt="" />
                </div>
              </li>
              <li class="ribbon__list-item swiper-slide">
                <p class="ribbon__text tl3">Более 10 млн сканированных чеков</p>
                <div class="ribbon__svg-box">
                  <img src="./assets/images/ribon.svg" alt="" />
                </div>
              </li>
              <li class="ribbon__list-item swiper-slide">
                <p class="ribbon__text tl3">Более 10 млн сканированных чеков</p>
                <div class="ribbon__svg-box">
                  <img src="./assets/images/ribon.svg" alt="" />
                </div>
              </li>
              <li class="ribbon__list-item swiper-slide">
                <p class="ribbon__text tl3">Более 10 млн сканированных чеков</p>
                <div class="ribbon__svg-box">
                  <img src="./assets/images/ribon.svg" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="advantages__card-wrapper">
        <div class="advantages__card-box">
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Более 250 препаратов</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  В приложении представлено большое количество препаратов, вы наверняка найдете свой
                </p>
              </div>
              <div class="advantages__card-line txt16">Смотрите акционные товары</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">РАЗДЕЛ ИЗБРАННОЕ</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Добавляйте любимые товары в избранное и отслеживайте изменения в условиях акции
                </p>
              </div>
              <div class="advantages__card-line txt16">вЫВОДИТЕ СРЕДСТВА НА КАРТУ</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Градации кэшбэка</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Получайте кэшбэкза просмотры презентациии участие в опросах
                </p>
              </div>
              <div class="advantages__card-line txt16">ПОВЫШАЙТЕ УРОВЕНЬ КЭШБЭКА</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">быстрый перевод</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Прозрачная система перевода средств, без коммиссии и задержек
                </p>
              </div>
              <div class="advantages__card-line txt16">Сканируйте чеки</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Конкурсы и розыгрыши</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Следите за конкурсамии розыгрышами в приложении, выигрывайте крупные призы!
                </p>
              </div>
              <div class="advantages__card-line txt16">Выигрывайте призы</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- дубликат -->
        <div class="advantages__card-box">
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Более 250 препаратов</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  В приложении представлено большое количество препаратов, вы наверняка найдете свой
                </p>
              </div>
              <div class="advantages__card-line txt16">Смотрите акционные товары</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">РАЗДЕЛ ИЗБРАННОЕ</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Добавляйте любимые товары в избранное и отслеживайте изменения в условиях акции
                </p>
              </div>
              <div class="advantages__card-line txt16">вЫВОДИТЕ СРЕДСТВА НА КАРТУ</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Градации кэшбэка</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Получайте кэшбэкза просмотры презентациии участие в опросах
                </p>
              </div>
              <div class="advantages__card-line txt16">ПОВЫШАЙТЕ УРОВЕНЬ КЭШБЭКА</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">быстрый перевод</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Прозрачная система перевода средств, без коммиссии и задержек
                </p>
              </div>
              <div class="advantages__card-line txt16">Сканируйте чеки</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Конкурсы и розыгрыши</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Следите за конкурсамии розыгрышами в приложении, выигрывайте крупные призы!
                </p>
              </div>
              <div class="advantages__card-line txt16">Выигрывайте призы</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- дубликат -->
        <div class="advantages__card-box">
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Более 250 препаратов</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  В приложении представлено большое количество препаратов, вы наверняка найдете свой
                </p>
              </div>
              <div class="advantages__card-line txt16">Смотрите акционные товары</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">РАЗДЕЛ ИЗБРАННОЕ</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Добавляйте любимые товары в избранное и отслеживайте изменения в условиях акции
                </p>
              </div>
              <div class="advantages__card-line txt16">вЫВОДИТЕ СРЕДСТВА НА КАРТУ</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Градации кэшбэка</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Получайте кэшбэкза просмотры презентациии участие в опросах
                </p>
              </div>
              <div class="advantages__card-line txt16">ПОВЫШАЙТЕ УРОВЕНЬ КЭШБЭКА</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">быстрый перевод</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Прозрачная система перевода средств, без коммиссии и задержек
                </p>
              </div>
              <div class="advantages__card-line txt16">Сканируйте чеки</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPurple.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesPink.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="advantages__card">
            <div class="advantages__card-inner">
              <div class="advantages__card-info-box">
                <div class="advantages__card-title-box">
                  <h3 class="advantages__card-title tl3">Конкурсы и розыгрыши</h3>
                </div>

                <p class="advantages__card-info-text txt18 txt18_light">
                  Следите за конкурсамии розыгрышами в приложении, выигрывайте крупные призы!
                </p>
              </div>
              <div class="advantages__card-line txt16">Выигрывайте призы</div>
              <div class="advantages__card-img-wrapper">
                <div class="advantages__card-img-box">
                  <img src="./assets/images/advantagesBlack.png" alt="" />
                </div>
                <div class="advantages__card-img-box">
                  <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="advantages__swiper-box">
        <div class="advantages__swiper swiper">
          <div class="advantages__swiper-wrapper swiper-wrapper">
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__card-inner">
                <div class="advantages__card-info-box">
                  <div class="advantages__card-title-box">
                    <h3 class="advantages__card-title tl3">Более 250 препаратов</h3>
                  </div>

                  <p class="advantages__card-info-text txt18 txt18_light">
                    В приложении представлено большое количество препаратов, вы наверняка найдете свой
                  </p>
                </div>
                <div class="advantages__card-line txt16">Смотрите акционные товары</div>
                <div class="advantages__card-img-wrapper">
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesPink.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesBlack.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__card-inner">
                <div class="advantages__card-info-box">
                  <div class="advantages__card-title-box">
                    <h3 class="advantages__card-title tl3">РАЗДЕЛ ИЗБРАННОЕ</h3>
                  </div>

                  <p class="advantages__card-info-text txt18 txt18_light">
                    Добавляйте любимые товары в избранное и отслеживайте изменения в условиях акции
                  </p>
                </div>
                <div class="advantages__card-line txt16">вЫВОДИТЕ СРЕДСТВА НА КАРТУ</div>
                <div class="advantages__card-img-wrapper">
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesPink.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesPurple.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__card-inner">
                <div class="advantages__card-info-box">
                  <div class="advantages__card-title-box">
                    <h3 class="advantages__card-title tl3">Градации кэшбэка</h3>
                  </div>

                  <p class="advantages__card-info-text txt18 txt18_light">
                    Получайте кэшбэкза просмотры презентациии участие в опросах
                  </p>
                </div>
                <div class="advantages__card-line txt16">ПОВЫШАЙТЕ УРОВЕНЬ КЭШБЭКА</div>
                <div class="advantages__card-img-wrapper">
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesBlack.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesPurple.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__card-inner">
                <div class="advantages__card-info-box">
                  <div class="advantages__card-title-box">
                    <h3 class="advantages__card-title tl3">быстрый перевод</h3>
                  </div>

                  <p class="advantages__card-info-text txt18 txt18_light">
                    Прозрачная система перевода средств, без коммиссии и задержек
                  </p>
                </div>
                <div class="advantages__card-line txt16">Сканируйте чеки</div>
                <div class="advantages__card-img-wrapper">
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesPurple.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesPink.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__card-inner">
                <div class="advantages__card-info-box">
                  <div class="advantages__card-title-box">
                    <h3 class="advantages__card-title tl3">Конкурсы и розыгрыши</h3>
                  </div>

                  <p class="advantages__card-info-text txt18 txt18_light">
                    Следите за конкурсамии розыгрышами в приложении, выигрывайте крупные призы!
                  </p>
                </div>
                <div class="advantages__card-line txt16">Выигрывайте призы</div>
                <div class="advantages__card-img-wrapper">
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/advantagesBlack.png" alt="" />
                  </div>
                  <div class="advantages__card-img-box">
                    <img src="./assets/images/newImages/advantagesGray.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
