<section class="contacts" id="contacts">
  <div class="contacts__container">
    <div class="contacts__inner">
      <div class="contacts__info-wrapper">
        <p class="contacts__info-subtitle txt16">контакты</p>

        <div class="contacts__info-box">
          <p class="contacts__info-text txt18 txt18_regular">
            Если у вас остались вопросы, вы можете выслать их на на почту и с радостью ответим на них в ближайшее время:
          </p>

          <a href="mailto:support@chekiizapteki.ru" class="contacts__info-mail">support@chekiizapteki.ru</a>

          <button class="contacts__info-btn" data-popup="#popup__application">
            <p class="contacts__info-btn-text txt16">отправить заявку</p>
            <div class="contacts__info-btn-svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.3137 5.99977C18.3137 5.44748 17.866 4.99977 17.3137 4.99977L8.31371 4.99977C7.76142 4.99977 7.31371 5.44748 7.31371 5.99977C7.31371 6.55205 7.76142 6.99977 8.31371 6.99977L16.3137 6.99977L16.3137 14.9998C16.3137 15.5521 16.7614 15.9998 17.3137 15.9998C17.866 15.9998 18.3137 15.5521 18.3137 14.9998L18.3137 5.99977ZM6.70711 18.0206L18.0208 6.70688L16.6066 5.29266L5.29289 16.6064L6.70711 18.0206Z"
                  fill="#6A47DC"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>

      <div class="contacts__decor-wrapper">
        <p class="contacts__decor-title">
          <span>чеки из</span>
          <span>аптеки</span>
        </p>
  
        <div class="contacts__ribbon ribbon">
          <div class="ribbon__row">
            <div class="ribbon__swiper swiper-ribbon swiper-ribbon  swiper-ribbon--contacts swiper">
              <ul class="ribbon__list swiper-wrapper swiper-wrapper">
                <li class="ribbon__list-item swiper-slide">
                  <p class="ribbon__text tl4">Более 10 млн сканированных чеков</p>
                  <div class="ribbon__svg-box">
                    <img src="./assets/images/ribon.svg" alt="" />
                  </div>
                </li>
                <li class="ribbon__list-item swiper-slide">
                  <p class="ribbon__text tl4">Более 10 млн сканированных чеков</p>
                  <div class="ribbon__svg-box">
                    <img src="./assets/images/ribon.svg" alt="" />
                  </div>
                </li>
                <li class="ribbon__list-item swiper-slide">
                  <p class="ribbon__text tl4">Более 10 млн сканированных чеков</p>
                  <div class="ribbon__svg-box">
                    <img src="./assets/images/ribon.svg" alt="" />
                  </div>
                </li>
                <li class="ribbon__list-item swiper-slide">
                  <p class="ribbon__text tl4">Более 10 млн сканированных чеков</p>
                  <div class="ribbon__svg-box">
                    <img src="./assets/images/ribon.svg" alt="" />
                  </div>
                </li>
                <li class="ribbon__list-item swiper-slide">
                  <p class="ribbon__text tl4">Более 10 млн сканированных чеков</p>
                  <div class="ribbon__svg-box">
                    <img src="./assets/images/ribon.svg" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="contacts__swiper-box">
          <div class="contacts__swiper swiper">
            <div class="contacts__swiper-wrapper swiper-wrapper">
              <div class="contacts__swiper-slide swiper-slide">
                <div class="contacts__swiper-slide-inner">
                  <img src="./assets/images/newImages/mockupPhone1.png" alt="" />
                </div>
              </div>
              <div class="contacts__swiper-slide swiper-slide">
                <div class="contacts__swiper-slide-inner">
                  <img src="./assets/images/newImages/mockupPhone2.png" alt="" />
                </div>
              </div>

              <div class="contacts__swiper-slide swiper-slide">
                <div class="contacts__swiper-slide-inner">
                  <img src="./assets/images/newImages/mockupPhone4.png" alt="" />
                </div>
              </div>
              <div class="contacts__swiper-slide swiper-slide">
                <div class="contacts__swiper-slide-inner">
                  <img src="./assets/images/newImages/mockupPhone3.png" alt="" />
                </div>
              </div>
              <div class="contacts__swiper-slide swiper-slide">
                <div class="contacts__swiper-slide-inner">
                  <img src="./assets/images/newImages/mockupPhone5.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="contacts__swiper-phone">
            <img src="./assets/images/newImages/phoneContacts.png" alt="" />
          </div>
        </div>
  
        <div class="contacts__bg-img-box">
          <img src="./assets/images/advantages-logo.svg" alt="" />
        </div>
      </div>

      <div class="contacts__social-wrapper">
        <div class="contacts__social-box social">
          <div class="contacts__social-text-box social__text-box">
            <!-- <div class="contacts__social-svg-box social__svg-box">
              <img src="./assets/images/download.svg" alt="" />
            </div> -->
            <p class="contacts__social-text tl4 social__text">Доступно на всех платформах</p>
          </div>
          <div class="contacts__social-app-list social__app-list">
            <a href="#" class="contacts__social-app social__app">
              <div class="contacts__social-app-img-box social__app-img-box">
                <img src="./assets/images/huawei.svg" alt="" />
              </div>
            </a>
            <a href="#" class="contacts__social-app social__app">
              <div class="contacts__social-app-img-box social__app-img-box">
                <img src="./assets/images/google.svg" alt="" />
              </div>
            </a>
            <a href="#" class="contacts__social-app social__app">
              <div class="contacts__social-app-img-box social__app-img-box">
                <img src="./assets/images/apple.svg" alt="" />
              </div>
            </a>
            <a href="#" class="contacts__social-app social__app">
              <div class="contacts__social-app-img-box social__app-img-box">
                <img src="./assets/images/newImages/rustore.svg" alt="" />
              </div>
            </a>
          </div>
        </div>

        <p class="contacts__social-disclaimer txt18 txt18_light">
          App Store является знаком обслуживания компании Apple Inc. Google Play и логотип Google Play являются товарными знаками корпорации Google LLC. HUAWEI и логотип HUAWEI являются товарными знаками компании Huawei Technologies Co., Ltd. RuStore является товарным знаком копании VK.
        </p>
      </div>
    </div>


  </div>
</section>
