<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__top-logo-col">
          <a href="#banner" class="footer__top-logo-box nav-link">
            <div class="footer__top-logo-img-box">
              <img src="./assets/images/logo.svg" alt="" />
            </div>
            <div class="footer__top-logo-text-box">
              <div class="footer__top-logo-title">Чеки из Аптеки</div>
              <div class="footer__top-logo-desc">кэшбэк приложение</div>
            </div>
          </a>

          <a class="footer__top-details txt16"> Реквизиты ООО «Чеки из аптеки» </a>
        </div>
        <nav class="footer__top-nav-col">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18 txt18_medium nav-link">Главная </a>
            </li>
            <li class="footer__nav-item">
              <a href="#advantages" class="footer__nav-link txt18 txt18_medium nav-link"> Преимущества </a>
            </li>
            <li class="footer__nav-item">
              <a href="#return" class="footer__nav-link txt18 txt18_medium nav-link"> Кэшбэк </a>
            </li>
            <li class="footer__nav-item">
              <a href="#how" class="footer__nav-link txt18 txt18_medium nav-link"> Как это работает </a>
            </li>
    
          </ul>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18 txt18_medium nav-link">Товары </a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18 txt18_medium nav-link"> Скачать приложение</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link txt18 txt18_medium"> Вопросы ответы </a>
            </li>
            <li class="footer__nav-item">
              <a href="#contacts" class="footer__nav-link txt18 txt18_medium nav-link"> Контакты </a>
            </li>
          </ul>

        </nav>
        <div class="footer__top-social-col">
          <div class="footer__top-social-text-box">
            <p class="footer__top-social-disclaimer txt18 txt18_regular">
              Если у вас остались вопросы, можете выслать их на почту:
            </p>
            <a href="mailto:support@chekiizapteki.ru" class="footer__social-mail txt16"
              >support@chekiizapteki.ru</a
            >
          </div>
          <div class="footer__social-app-list">
            <a href="#" class="footer__social-app">
              <div class="footer__social-app-img-box">
                <img src="./assets/images/huawei.svg" alt="" />
              </div>
            </a>
            <a href="#" class="footer__social-app">
              <div class="footer__social-app-img-box">
                <img src="./assets/images/google.svg" alt="" />
              </div>
            </a>
            <a href="#" class="footer__social-app">
              <div class="footer__social-app-img-box">
                <img src="./assets/images/apple.svg" alt="" />
              </div>
            </a>
            <a href="#" class="footer__social-app">
              <div class="footer__social-app-img-box">
                <img src="./assets/images/newImages/rustore.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <a href="#" class="footer__bottom-link txt18 txt18_regular"> Политика конфиденциальности</a>
        <a href="#" class="footer__bottom-link txt18 txt18_regular"> Хранение данных соответствует требованиям 152-ФЗ</a>
        <a href="#" class="footer__bottom-link txt18 txt18_regular"> Пользовательское соглашение</a>
        <a href="#" class="footer__bottom-link txt18 txt18_regular">   ООО «Чеки из аптеки» 2022 - <span id="currentYear"></span></a>
      </div>
    </div>
  </div>
</footer>
