<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__banner mobile">
        <a href="#banner" class="header__logo-box nav-link">
          <div class="header__logo-img-box">
            <img src="./assets/images/logo.svg" alt="" />
          </div>
          <div class="header__logo-text-box">
            <div class="header__logo-title">Чеки из Аптеки</div>
            <div class="header__logo-desc">проекты для бизнеса</div>
          </div>
        </a>

        <button class="header__burger">
          <div class="header__burger-svg-box inActive">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 5H20" stroke="white" stroke-width="1.5" stroke-linecap="round" />
              <path d="M4 12H20" stroke="white" stroke-width="1.5" stroke-linecap="round" />
              <path d="M4 19H20" stroke="white" stroke-width="1.5" stroke-linecap="round" />
            </svg>
          </div>
          <div class="header__burger-svg-box isActive">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.0285 4.57153L5.17139 19.4287"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M5.17139 4.57153L20.0285 19.4287"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
      </div>

      <div class="header__nav-wrapper">
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#advantages" class="header__nav-link txt18 txt18_medium nav-link"> Преимущества </a>
            </li>
            <li class="header__nav-item">
              <a href="#return" class="header__nav-link txt18 txt18_medium nav-link"> Кэшбэк </a>
            </li>
            <li class="header__nav-item">
              <a href="#how" class="header__nav-link txt18 txt18_medium nav-link"> Как это работает </a>
            </li>
            <!-- <li class="header__nav-item">
              <a href="#test" class="header__nav-link txt18 txt18_medium nav-link"> Категории </a>
            </li> -->
          </ul>

          <a href="#banner" class="header__logo-box desktop nav-link">
            <div class="header__logo-img-box">
              <img src="./assets/images/logo.svg" alt="" />
            </div>
            <div class="header__logo-text-box">
              <div class="header__logo-title">Чеки из Аптеки</div>
              <div class="header__logo-desc">проекты для бизнеса</div>
            </div>
          </a>

          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#trust" class="header__nav-link txt18 txt18_medium nav-link"> Наши партнеры </a>
            </li>
            <li class="header__nav-item">
              <a href="#questions" class="header__nav-link txt18 txt18_medium nav-link"> Вопросы-ответы </a>
            </li>
            <!-- <li class="header__nav-item">
              <a href="#" class="header__nav-link txt18 txt18_medium"> Новости </a>
            </li> -->
            <li class="header__nav-item">
              <a href="#contacts" class="header__nav-link txt18 txt18_medium nav-link"> Контакты </a>
            </li>
          </ul>
        </nav>

        <div class="header__social mobile">
          <a href="mailto:support@chekiizapteki.ru" class="header__social-mail">support@chekiizapteki.ru</a>
          <div class="header__social-app-list">
            <a href="#" class="header__social-app">
              <div class="header__social-app-img-box">
                <img src="./assets/images/huawei.svg" alt="" />
              </div>
            </a>
            <a href="#" class="header__social-app">
              <div class="header__social-app-img-box">
                <img src="./assets/images/google.svg" alt="" />
              </div>
            </a>
            <a href="#" class="header__social-app">
              <div class="header__social-app-img-box">
                <img src="./assets/images/apple.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
