<section class="how" id="how">
  <div class="container how__container">
    <div class="how__inner">
      <div class="how__wrapper-desktop">
        <div class="how__anim-wrapper-desktop">
          <div class="how__anim-wrapper-desktop-inner">
            <div class="how__bg-box">
              <img src="./assets/images/howBg.png" alt="" />
            </div>

            <div class="how__content-box-desktop">
              <div class="how__title-box">
                <h2 class="how__title tl2_1">Как работает кэшбэк приложение Чеки из аптеки</h2>
                <p class="how__subtitle txt16">Прокрутите вниз, чтобы ознакомиться</p>
              </div>

              <div class="how__inner-frame">
                <div class="how__inner-card">
                  <div class="how__inner-card-img-box">
                    <img src="./assets/images/step1.png" alt="" />
                  </div>
                  <div class="how__inner-card-text-box">
                    <p class="how__inner-card-info">
                      Скачайте <br />
                      приложение
                    </p>
                  </div>
                </div>
              </div>

              <div class="how__inner-frame">
                <div class="how__inner-card">
                  <div class="how__inner-card-img-box">
                    <img src="./assets/images/step3.png" alt="" />
                  </div>
                  <div class="how__inner-card-text-box">
                    <p class="how__inner-card-info">посмотрите список акционных товаров</p>
                  </div>
                </div>
              </div>

              <div class="how__inner-frame">
                <div class="how__inner-card">
                  <div class="how__inner-card-img-box">
                    <img src="./assets/images/step4.png" alt="" />
                  </div>
                  <div class="how__inner-card-text-box">
                    <p class="how__inner-card-info">отсканируйте чек в течение 72 часов с момента покупки</p>
                  </div>
                </div>
              </div>

              <div class="how__inner-frame">
                <div class="how__inner-card">
                  <div class="how__inner-card-img-box">
                    <img src="./assets/images/newImages/step5New.webp" alt="" />
                  </div>
                  <div class="how__inner-card-text-box">
                    <p class="how__inner-card-info">получите кэшбэк и переводите на карту</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="how__wrapper-mobile">
        <div class="how__bg-box"></div>

        <div class="how__content-box-mobile">
          <h2 class="how__title tl2_1">Как работает кэшбэк приложение Чеки из аптеки</h2>

          <div class="how__swiper-box">
            <div class="how__swiper swiper">
              <div class="how__swiper-wrapper swiper-wrapper">
                <div class="how__swiper-slide swiper-slide">
                  <div class="how__swiper-slide-inner">
                    <div class="how__inner-card">
                      <div class="how__inner-card-img-box">
                        <img src="./assets/images/step1.png" alt="" />
                      </div>
                      <div class="how__inner-card-text-box">
                        <p class="how__inner-card-info">Скачайте приложение</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="how__swiper-slide swiper-slide">
                  <div class="how__swiper-slide-inner">
                    <div class="how__inner-card">
                      <div class="how__inner-card-img-box">
                        <img src="./assets/images/step3.png" alt="" />
                      </div>
                      <div class="how__inner-card-text-box">
                        <p class="how__inner-card-info">посмотрите список акционных товаров</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="how__swiper-slide swiper-slide">
                  <div class="how__swiper-slide-inner">
                    <div class="how__inner-card">
                      <div class="how__inner-card-img-box">
                        <img src="./assets/images/step4.png" alt="" />
                      </div>
                      <div class="how__inner-card-text-box">
                        <p class="how__inner-card-info">отсканируйте чек в течение 72 часов с момента покупки</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="how__swiper-slide swiper-slide">
                  <div class="how__swiper-slide-inner">
                    <div class="how__inner-card">
                      <div class="how__inner-card-img-box">
                        <img src="./assets/images/newImages/step5New.webp" alt="" />
                      </div>
                      <div class="how__inner-card-text-box">
                        <p class="how__inner-card-info">получите кэшбэк и переводите на карту</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="how__swiper-pagination swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
