<section class="mockup" id="mockup">
  <div class="mockup__container">
    <div class="mockup__inner">
      <div class="mockup__inner-wrapper">
        <div class="mockup__mob-content-box">
          <h2 class="mockup__title tl2_1">
            скачивай приложение <br />
            и получи свой первый кэшбэк
          </h2>

          <div class="mockup__social-box social" id="download">
            <div class="mockup__social-text-box social__text-box">
              <p class="mockup__social-text tl4 social__text">Доступно на всех платформах</p>
            </div>
            <div class="mockup__social-app-list social__app-list">
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/huawei.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/google.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/apple.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/newImages/rustore.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="mockup__swiper-box">

          <div class="mockup__swiper-swiper swiper">
            <div class="mockup__swiper-swiper-wrapper swiper-wrapper">
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup1.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup2.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup3.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup4.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup5.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup6.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup7.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup8.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup1.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup2.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup3.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup4.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup5.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup6.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup7.png" alt="" />
                </div>
              </div>
              <div class="mockup__swiper-swiper-slide swiper-slide">
                <div class="mockup__swiper-swiper-slide-img-box">
                  <img src="./assets/images/mockup8.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="mockup__swiper-title-swiper swiper">
            <div class="mockup__swiper-title-swiper-wrapper swiper-wrapper">
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">durex</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">sensodyne</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">экзодерил</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">терафлю</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">contex</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">durex invisible</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">линекс</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">азоксимера бромид полиоксидоний</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">durex</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">sensodyne</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">экзодерил</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">терафлю</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">contex</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">durex invisible</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">линекс</p>
              </div>
              <div class="mockup__swiper-title-swiper-slide swiper-slide">
                <p class="mockup__swiper-title-swiper-slide-text">азоксимера бромид полиоксидоний</p>
              </div>
            </div>
          </div>
          <div class="mockup__swiper-price-swiper swiper">
            <div class="mockup__swiper-price-swiper-wrapper swiper-wrapper">
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">40 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">30 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">45 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">50 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">100 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">140 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">80 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">70 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">40 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">30 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">45 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">50 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">100 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">140 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">80 ₽</p>
              </div>
              <div class="mockup__swiper-price-swiper-slide swiper-slide">
                <p class="mockup__swiper-price-swiper-slide-text">70 ₽</p>
              </div>
            </div>
          </div>
          <div class="mockup__swiper-phone">
            <img src="./assets/images/newImages/phoneMockup.png" alt="" />
          </div>

        </div> 
        
        <div class="mockup__content-box mockup__content-box--new" >
          <h2 class="mockup__title tl2_1">скачивай приложение и получи свой первый кэшбэк</h2>

          <div class="mockup__social-box social">
            <div class="mockup__social-text-box social__text-box">
              <p class="mockup__social-text tl4 social__text">Доступно на всех платформах</p>
            </div>
            <div class="mockup__social-app-list social__app-list">
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/huawei.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/google.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/apple.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/newImages/rustore.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
