<section class="mockup">

    <div class="mockup__container">
      <div class="mockup__inner">
        <div class="mockup__inner-wrapper">

        
        <div class="mockup__column-wrapper">
          <div class="mockup__column mockup__column--1">
            <div class="mockup__image-column">
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup8.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup6.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup7.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup8.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup6.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup7.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup8.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup6.png" alt="" />
              </div>
            </div>
          </div>
          <div class="mockup__column mockup__column--2">
            <div class="mockup__image-column">
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup3.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup1.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup2.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup3.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup1.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup2.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup3.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="mockup__column mockup__column--3">
            <div class="mockup__image-column">
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup4.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup5.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup4.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup5.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup4.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup5.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup4.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup5.png" alt="" />
              </div>
            </div>
          </div>
          <div class="mockup__column mockup__column--4">
            <div class="mockup__image-column">
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup8.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup6.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup7.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup8.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup6.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup7.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup8.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup6.png" alt="" />
              </div>
            </div>
          </div>
          <div class="mockup__column mockup__column--5">
            <div class="mockup__image-column">
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup3.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup1.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup2.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup3.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup1.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup2.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup3.png" alt="" />
              </div>
              <div class="mockup__image-wrapper">
                <img src="./assets/images/mockup1.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="mockup__content-box">
          <h2 class="mockup__title tl2_1">СКАЧАЙТЕ ПРИЛОЖЕНИЕ И ПОЛУЧИТЕ СВОЙ ПЕРВЫЙ КЭШБЭК</h2>

          <div class="mockup__social-box social">
            <div class="mockup__social-text-box social__text-box">
              <div class="mockup__social-svg-box social__svg-box">
                <img src="./assets/images/download.svg" alt="" />
              </div>
              <p class="mockup__social-text tl4 social__text">сКАЧИВАЙТЕ на всех платформах</p>
            </div>
            <div class="mockup__social-app-list social__app-list">
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/huawei.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/google.svg" alt="" />
                </div>
              </a>
              <a href="#" class="mockup__social-app social__app">
                <div class="mockup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/apple.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>

</section>
