<section class="partners" id="banner">
  <div class="partners__bg-box">
    <img src="./assets/images/newImages/partnersBg.png" alt="" />
  </div>
  <div class="partners__container container">
    <div class="partners__inner">
      <div class="partners__content-box">
        <div class="partners__content-text-box">
          <p class="partners__content-title tl1">партнерам</p>
          <p class="partners__content-desc txt20">
            Партнёры кэшбэк-приложения <span> "Чеки из аптеки" — это ведущие фармацевтические производители,</span> которые ценят
            долгосрочное и взаимовыгодное сотрудничество.
          </p>
        </div>
        <div class="partners__content-info-wrapper">
          <div class="partners__content-info-box partners__content-info-box--left">
            <p class="partners__content-info-title">3+</p>
            <p class="partners__content-info-text">лет</p>
          </div>
          <div class="partners__content-info-box partners__content-info-box--right">
            <p class="partners__content-info-title">Средний срок работы </p>
            <p class="partners__content-info-text">с клиентами</p>
          </div>
        </div>
      </div>
      <div class="partners__anim-box">
        <p class="partners__anim-title txt16">кто нам доверяет</p>
        <ul class="partners__anim-list">
          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/vertex.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/haleon.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/reckitt.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/haleon.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/reckitt.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/ranbaxy.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/reckitt.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/ranbaxy.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/drtheiss.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/ranbaxy.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/drtheiss.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/zambon.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/drtheiss.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/zambon.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/valenta.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/zambon.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/valenta.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/petrovax.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/valenta.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/petrovax.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/grindex.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/petrovax.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/grindex.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/sandoz.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>

          <li class="partners__anim-item">
            <div class="partners__anim-item-layout">
              <div class="partners__anim-item-perspective-frame">
                <div class="partners__anim-item-images">
                  <div class="partners__anim-item-face partners__anim-item--front">
                    <img src="./assets/images/krka.svg" />
                  </div>
                  <div class="partners__anim-item-face partners__anim-item--right">
                    <img src="./assets/images/sandoz.svg" />
                  </div>

                  <div class="partners__anim-item-face partners__anim-item--top">
                    <img src="./assets/images/galderma.svg" />
                  </div>
                  <!-- задние стороны без картинок -->
                  <div class="partners__anim-item-face partners__anim-item--back"></div>
                  <div class="partners__anim-item-face partners__anim-item--left"></div>
                  <div class="partners__anim-item-face partners__anim-item--bottom"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
