<div id="popup__best" aria-hidden="true" class="popup popup--best" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4286 4.57141L4.57141 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.57141 4.57141L19.4286 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-box-title-box">
            <p class="popup__body-content-box-title">digital exsellence award 2023</p>
            <p class="popup__body-content-box-desk">Победитель в номинации "Лучшее приложение" на фармацевтическом рынке №1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__reestr" aria-hidden="true" class="popup popup--best" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4286 4.57141L4.57141 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.57141 4.57141L19.4286 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-box-title-box">
            <p class="popup__body-content-box-title">входим в единый Реестр российского программного обеспечения</p>
            <p class="popup__body-content-box-desk">Реестровая запись №22680 от 24.05.2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__storage" aria-hidden="true" class="popup popup--best" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4286 4.57141L4.57141 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.57141 4.57141L19.4286 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-box-title-box">
            <p class="popup__body-content-box-title">хранение данных осуществляется на Сервисах Yandex Cloud</p>
            <p class="popup__body-content-box-desk">
              Которые соответствуют требованиям международных и национальных стандартов ISO, GDPR, PCI DSS и ГОСТ Р 57580.
              Платформа выполняет все требования 152-ФЗ и обеспечивает первый уровень защищённости персональных данных (УЗ-1).
              <a href="https://cloud.yandex.ru/services/storage">https://cloud.yandex.ru/services/storage</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__success" aria-hidden="true" class="popup popup--success" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4286 4.57141L4.57141 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.57141 4.57141L19.4286 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-box-title-box">
            <p class="popup__body-content-box-title">Заявка успешно отправлена</p>
            <p class="popup__body-content-box-desk">Спасибо, что оставили заявку! Мы свяжемся с вами в ближайшее время.</p>
          </div>

          <button data-close class="popup__btn">
            <p class="popup__btn-text link-list__text txt18">На главную</p>

            <div class="popup__btn-svg-box link-list__svg-box">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.3137 5.99977C18.3137 5.44748 17.866 4.99977 17.3137 4.99977L8.31371 4.99977C7.76142 4.99977 7.31371 5.44748 7.31371 5.99977C7.31371 6.55205 7.76142 6.99977 8.31371 6.99977L16.3137 6.99977L16.3137 14.9998C16.3137 15.5521 16.7614 15.9998 17.3137 15.9998C17.866 15.9998 18.3137 15.5521 18.3137 14.9998L18.3137 5.99977ZM6.70711 18.0206L18.0208 6.70688L16.6066 5.29266L5.29289 16.6064L6.70711 18.0206Z"
                  fill="white"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__application" aria-hidden="true" class="popup popup--application" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4286 4.57141L4.57141 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.57141 4.57141L19.4286 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        <div class="popup__body-content-box">
          <div class="popup__body-content-title-box">
            <p class="popup__body-content-title">оставить заявку</p>
            <p class="popup__body-content-desc">Оставьте все свои данные и мы свяжемся с вами в ближайшее время</p>
          </div>

          <form data-popup-message="#popup__success" data-dev action="" class="popup__form popup__form--application">
            <div class="popup__form-input-wrapper">
              <div class="popup__form-input-box txt16">
                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--name popup__form-input"
                      type="text"
                      data-validate
                      data-required="name"
                      autocomplete="off"
                      name="form[]"
                      placeholder="ваше имя*"
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>

                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--tel popup__form-input phone-mask"
                      type="text"
                      data-validate
                      data-required="tel"
                      autocomplete="off"
                      name="form[]"
                      placeholder="телефон*"
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>

                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--mail popup__form-input"
                      type="text"
                      autocomplete="off"
                      name="form[]"
                      placeholder="корпоративный e-mail"
                    />
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>

                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <textarea class="input--textarea popup__form-input" placeholder="комментарий"></textarea>
                    <span class="error-span"></span>
                  </span>
                </label>
              </div>
              <div class="popup__btn-box">
                <p class="popup__agreement-text">
                  Нажимая на кнопку “Отправить”, Вы соглашаетесь на <a href="#">обработку персональных данных</a> и
                  <a href="#">политику конфиденциальности</a>
                </p>

                <button type="submit" class="popup__btn popup__btn--application">
                  <p class="popup__btn-text link-list__text txt18">отправить заявку</p>

                  <div class="popup__btn-svg-box link-list__svg-box">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M18.3137 5.99977C18.3137 5.44748 17.866 4.99977 17.3137 4.99977L8.31371 4.99977C7.76142 4.99977 7.31371 5.44748 7.31371 5.99977C7.31371 6.55205 7.76142 6.99977 8.31371 6.99977L16.3137 6.99977L16.3137 14.9998C16.3137 15.5521 16.7614 15.9998 17.3137 15.9998C17.866 15.9998 18.3137 15.5521 18.3137 14.9998L18.3137 5.99977ZM6.70711 18.0206L18.0208 6.70688L16.6066 5.29266L5.29289 16.6064L6.70711 18.0206Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__social" aria-hidden="true" class="popup popup--social" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.4286 4.57141L4.57141 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.57141 4.57141L19.4286 19.4286"
              stroke="#6A47DC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-title-box">
            <p class="popup__body-content-title">
              скачай <br />
              приложение <br />и получи свой первый <br />кэшбэк
            </p>
          </div>
          <div class="popup__social-box social" id="download">
            <div class="popup__social-text-box social__text-box">
              <p class="popup__social-text tl4 social__text">Доступно на всех платформах</p>
            </div>
            <div class="popup__social-app-list social__app-list">
              <a href="#" class="popup__social-app social__app">
                <div class="popup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/huawei.svg" alt="" />
                </div>
              </a>
              <a href="#" class="popup__social-app social__app">
                <div class="popup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/google.svg" alt="" />
                </div>
              </a>
              <a href="#" class="popup__social-app social__app">
                <div class="popup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/apple.svg" alt="" />
                </div>
              </a>
              <a href="#" class="popup__social-app social__app">
                <div class="popup__social-app-img-box social__app-img-box">
                  <img src="./assets/images/newImages/rustore.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
