<section class="requisites" id="banner">
  <div class="requisites__container container">
    <div class="requisites__inner">
      <p class="requisites__title tl2_2">Реквизиты:</p>
      <div class="requisites__info-text-box txt20 txt20_light">
        <p>Полное наименование: ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ЧЕКИ ИЗ АПТЕКИ»</p>
        <p>Сокращенное наименование: ООО «ЧЕКИ ИЗ АПТЕКИ»</p>
        <p>ОГРН 1207700448570 от 24.11.2020 г.</p>
        <br />
        <p>Наименование регистрирующего органа: Межрайонной инспекцией Федеральной налоговой службы № 46 по г. Москве</p>
        <br />
        <p>ИНН 9701165871</p>
        <p>КПП 770101001</p>
        <br />
        <p>Юридический адрес: 105082, ГОРОД МОСКВА, УЛИЦА БАКУНИНСКАЯ, ДОМ 69, СТРОЕНИЕ 1, ЭТ/ПОМ/КОМ 2/I/118</p>
        <br />
        <p>Электронная почта: support@chekiizapteki.ru</p>
        <p>Телефон: +7(916)716-11-99</p>
        <p>Банковские реквизиты:</p>
        <p>Расчетный счет 40702810400000171046</p>
        <p>в АО "Райффайзенбанк", г. Москва</p>
        <p>БИК 044525700</p>
        <p>Корреспондентский счёт № 30101810200000000700</p>
        <p>ОКВЭД 63.11.1 (Деятельность по созданию и использованию баз данных и информационных ресурсов)</p>
        <p>ОКАТО 45286555000</p>
        <p>ОКТМО 45375000000</p>
        <p>ОКПО 46482091</p>
        <p>ОКОГУ 4210014</p>
        <p>ОКФС 16 (Частная собственность)</p>
        <p>ОКОПФ 12300</p>
      </div>
      <p class="requisites__info-text"></p>
    </div>
  </div>
</section>
