<section class="return" id="return">
  <div class="container">
    <div class="return__inner">
      <div class="return__bg-box">
        <img src="./assets/images/returnBg.png" class="desktop" />
      </div>

      <div class="return__content-box">
        <div class="return__img-wrapper">
          <div class="return__img-box">
            <!-- <img src="./assets/images/returnImg.png" alt="" /> -->
            <video width="100%" height="100%" preload="auto" muted playsinline loop autoplay class="mobile">
              <source src="./assets/images/newImages/verstka_cropped.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            </video>
          </div>

          <div class="return__img-text return__img-text--top txt16">экономия без усилий</div>
          <div class="return__img-text return__img-text--right txt16">Ваше вознаграждение за оплату покупок</div>
          <div class="return__img-text return__img-text--bottom txt16">двойная выгода</div>

          <div class="return__swiper-box">
            <div class="return__thumb-box">
              <div class="return__thumb">
                <div class="return__thumb-num">01</div>
              </div>

              <div class="return__thumb isActive">
                <div class="return__thumb-num">02</div>
              </div>

              <div class="return__thumb">
                <div class="return__thumb-num">03</div>
              </div>
            </div>
            <div class="return__swiper swiper">
              <div class="return__swiper-wrapper swiper-wrapper">
                <div class="return__swiper-slide swiper-slide" data-index="0">
                  <div class="return__swiper-slide-inner">
                    <p class="return__swiper-slide-text">экономия без усилий</p>
                  </div>
                </div>
                <div class="return__swiper-slide swiper-slide" data-index="1">
                  <div class="return__swiper-slide-inner">
                    <p class="return__swiper-slide-text">Ваше вознаграждение за оплату покупок</p>
                  </div>
                </div>
                <div class="return__swiper-slide swiper-slide" data-index="2">
                  <div class="return__swiper-slide-inner">
                    <p class="return__swiper-slide-text">двойная выгода</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="return__info-box">
          <p class="return__info-subtitle txt16">Что такое кэшбек?</p>

          <div class="return__info-text-box">
            <h2 class="return__info-title tl2_1">Ваша отложенная скидка на товар</h2>
            <p class="return__info-desc txt20 txt20_light">
              <b>Кэшбэк</b> — это не просто возврат части денег за покупки, а настоящая <b>отложенная скидка</b>, которая приходит
              после оплаты вами товара.<br />
              <br />
              В отличие от моментальной скидки, кэшбэк <b>начисляется позже в виде бонусов</b> на счет. Бонусы можно перевести на
              карту или на мобильный телефон. <br />
              <b>Просто сканируйте чеки в приложении</b>, и ваша отложенная скидка станет приятным сюрпризом.<br />
              <br />
              Экономия с кэшбэком — <b>это легко, удобно и доступно каждому!</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
