<section class="trust" id="trust">
  <div class="container">
    <div class="trust__inner">
      <div class="trust__bg-box"></div>
      <div class="trust__content-wrapper">
        <div class="trust__content-box">
          <p class="trust__subtitle txt16">Наши партнеры</p>

          <div class="trust__title-box">
            <h2 class="trust__title tl2_2">кто нам доверяет</h2>
            <p class="trust__desc txt20 txt20_light">
              Партнёры кэшбэк-приложения
              <span>"Чеки из аптеки" — это ведущие фармацевтические сети и магазины</span> , которые ценят
              долгосрочное и взаимовыгодное сотрудничество. Средний
              <span> срок работы с нашими клиентами составляет 7 лет</span>, что подтверждает высокую
              надёжность и эффективность нашей программы лояльности.
            </p>
          </div>
        </div>
        <div class="trust__img-box ">
          <div class="trust__billet trust__billet--vertex">
            <div class="trust__billet-img-box">
              <img src="./assets/images/vertex.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--ranbaxy">
            <div class="trust__billet-img-box">
              <img src="./assets/images/ranbaxy.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--valenta">
            <div class="trust__billet-img-box">
              <img src="./assets/images/valenta.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--haleon">
            <div class="trust__billet-img-box">
              <img src="./assets/images/haleon.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--drtheiss">
            <div class="trust__billet-img-box">
              <img src="./assets/images/drtheiss.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--petrovax">
            <div class="trust__billet-img-box">
              <img src="./assets/images/petrovax.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--grindex">
            <div class="trust__billet-img-box">
              <img src="./assets/images/grindex.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--zambon">
            <div class="trust__billet-img-box">
              <img src="./assets/images/zambon.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--sandoz">
            <div class="trust__billet-img-box">
              <img src="./assets/images/sandoz.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--galderma">
            <div class="trust__billet-img-box">
              <img src="./assets/images/galderma.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--reckitt">
            <div class="trust__billet-img-box">
              <img src="./assets/images/reckitt.svg" alt="" />
            </div>
          </div>

          <div class="trust__billet trust__billet--krka">
            <div class="trust__billet-img-box">
              <img src="./assets/images/krka.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
