@import './mixins';
@import './flexs';

$white: #ffffff;
$purple: #6a47dc;
$pink: #f37fe0;
$black: #222222;
$lilac: #c690bc;
$lilac-pink: #fca1ba;
$grew-text: #8a8a8a;
$light-grew: #cacaca;
$basic-gradient: linear-gradient(209deg, #ff7ca0 0%, #c065c3 87.36%);

@media (min-width: 768px) {
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

body {
  background: $basic-gradient, url(./assets/images/bodyLine.png) repeat-y top/cover;
  // background: $basic-gradient, url(./assets/images/bodyLine.png) ;
  color: $white;
  font-family: 'Geometria';
  // position: relative;
  // &::after {
  //   position: absolute;
  //   content:'';
  //   inset: 0;
  //   width: 100%;
  //   height: 100%;
  //    background: url(./assets/images/bodyLine.png) ;
  // }

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  &.no-scroll {
    min-height: 100vh;
    overflow: hidden !important;
    touch-action: none !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  // overflow: hidden;
}

* {
  // outline:  1px solid red;
}
// main
main {
  flex-grow: 1;
  // section {
  //   margin: 20rem 0 0;
  //   @include small-tablet {
  //     margin: 22rem 0 0;
  //   }
  //   &._first {
  //     margin: 3.2rem 0 0rem;
  //     @include small-tablet {
  //       margin: 6.4rem 0 0rem;
  //     }
  //   }
  // }
}

.background__section {
  background: linear-gradient(209deg, #ff7ca0 0%, #c065c3 87.36%);
  position: relative;

  @media (max-width: 48em) {
    background: linear-gradient(270deg, #ff7ca0 0%, #c065c3 87.36%);
  }
  &::before {
    position: absolute;
    content: '';
    inset: 0;
    max-width: 162rem;
    margin: 0 auto;
    width: 100%;
    width: 100%;
    height: 100%;
    background: url(./assets/images/bodyLine.png) repeat-y top/contain;
    @media (max-width: 48em) {
      background: url(./assets/images/bodyLineMob.png) repeat-y top/cover;
    }
  }
}

.desktop {
  display: flex;

  @media (max-width: 48em) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 48em) {
    display: flex;
  }
}

@import './ui/ui';
